<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script type="text/javascript" src="./vue.js"></script>
</head>
<body>
	
	<div id="app">
		<input type="button" name="" @click="tggle" value="ashd">
		<h3 v-if="flag">这是用v-if控制的元素</h3>
		<h3 v-if="flag">这是用v-show控制的元素</h3>
	</div>


	<script type="text/javascript">

		
		var vm=new Vue({
			el: '#app', 
			data:{
				flag:true
			},
			methods:{
				tggle(){
					this.flag=!this.flag;
				}
			}
		});
	</script>
</body>
</html>