<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	 <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<div><input type="checkbox" v-model="checkAll">选择所有</div>
		<div><input type="checkbox" @change="inverse">你</div>
		<div v-for="(item,index) of friuts" :key="index">
			<input type="checkbox" v-model="model" :value="item.value">{{item.label}}
		</div>
	</div>
	<script type="text/javascript">
		new Vue({
			el: "#app",
			data: {
				friuts:[
				 {
				 	label:"苹果",
				 	value:"苹果"
				 },
				  {
				 	label:"栗子",
				 	value:"栗子"
				 },
				  {
				 	label:"桃子",
				 	value:"桃子"
				 },
				],
				model:[]
			},
			computed:{
				checkAll:{
					get(){
						return this.model.length===this.friuts.length
					},
					set(val){
						if(val){
							this.model=[];
							this.friuts.forEach((item)=>{
								this.model.push(item.value);
							})
						}else{
							this.model=[]
						}
					}
				}
			},
			methods:{
				inverse(){
					this.friuts.forEach((friut)=>{
						let index=this.model.findIndex((item)=>item==friut.value);
						if(index>-1){
							this.model.splice(index,1);
						}else{
							this.model.push(friut.value)
						}
					})
				}
			}
		})
	</script>
</body>
</html>